.background{
    background-color: #2e7cf6;
    height: 100%;
}

.card{
    background-color: transparent !important;
    margin-top: 30%;
    color: #fff;
    border: none;
}

.btn[type=submit]{
    border-radius: 50px;
}

.btn-link{
    color: #fff;
}

h1{
    color: #fff;
}