<app-signup></app-signup>
<div class="row">
    <div class="col-sm-6 text-right pt-5">
        <img class="align-middle m-5" height="300px" src="assets\What-Is-Scribe-Image.png">
    </div>

    <div class="col-sm-4">
        <h2 class="mx-5 my-5">What is Scribe?</h2>
        <h6 class="mx-5 my-1">
            Scribe is a thought sharing platform where you can share your thoughts and interact with other users by commenting on their posts.
            <br> <br>
            Sign up and create an account for free!
            <br> <br>
            Let's get started!
        </h6>
    </div>
</div>

<div class="row">
    <div class="offset-sm-2 col-sm-8 text-center pt-5 mt-5">
        <h5>Contact us</h5>
    </div>
</div>